
<div>
  <h4> REPLY TO COMMENT </h4>
  <%= form_with(model: [@post, @comment]) do |f| %>
    <%= f.hidden_field :parent_id %>
    <div class="form-group">
      <%= f.label 'Reply' %>
      <%= f.text_area :body %>
    </div>
    <%= f.submit 'Submit' %>
    <% if f.object.errors.any? %>
        <ul>
          <% f.object.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    <%= link_to 'Cancel', post_path(@post) %>
  <% end %>
</div>
